#back {
    background-image: url('https://curated-uploads.imgix.net/AgAAAB0A1J-AWFT0PPCD9gy7iN5DGw.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 100%;
}

h3 {
    color: cornflowerblue;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    margin-left: 20px;
    text-align: left;
}