html, body {
    height: 100%;
    margin: 0; 
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

a.navbar-brand {
    color: cornflowerblue;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    margin-left: 20px;
}

footer a {
    text-align: right;
}